@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

html {
    background-color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111;
}

h1 {
    text-align: center;
    font-size: 2.75em;
    font-weight: 500;
    text-shadow: 1px 1px 5px #0005;
}

.row {
    display: flex;
}

.row > * {
    margin-right: 10px;
}

.row figure img {
    max-width: 200px;
}

.row figure figcaption {
    max-width: 200px;
    text-align: center;
    display: block;
    color: #555;

}

.row.centered {
    flex-wrap: wrap;
    justify-content: space-around;
}

.row.space-between {
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    max-width: 400px;
    background-color: #ddd;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

nav a {
    color: #111;
    text-decoration: none;
    padding: 5px 30px;
}

nav a.current {
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
}

nav a:hover, nav a:focus {
    background-color: rgb(155, 155, 155);
    border-radius: 20px;
}

.page-title {
    margin: auto;
    text-align: left;
    padding: 20px 0px;
    font-size: 2em;
    font-weight: 400;
}

main {
    padding: 10px;
}

.width-limit {
    max-width: 650px;
    margin: auto;
}

.rounded-box {
    background-color: #ddd;
    color: #222;
    padding: 15px;
    border-radius: 20px;
}

.contact-links {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-links a {
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
}

.contact-links a:hover {
    transform: scale(1.1);
}

.contact-links a img {
    width: 75px;
}

.contact-links a label {
    cursor: pointer;
    margin-top: 4px;
    font-size: 1.1em;
}

.home-intro {
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-text {
    margin-left: 20px;
}

.headline {
    display: block;
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 10px;
}

.subheadline {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 5px;
}

.home-intro img {
    width: 200px;
    border-radius: 30px;;
    margin: 10px;
}

.home-intro ul {
    display: block;
}

.button {
    display: flex;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(107, 60, 168);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    width: max-content;
    margin-top: 30px;
    font-size: 1em;
    border: none;
    transition: background-color 0.15s;
}

.button-large {
    font-size: 1.2em;
    font-weight: 500;
}

.button:hover {
    background-color: rgb(80, 40, 131);;
}

.project-box {
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 50px;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #0005;
    display: flex;
    transition: transform 0.1s, box-shadow 0.1s;
}

.project-box:hover {
    box-shadow: 2px 2px 12px #0007;
    transform: scale(1.05);
}

.project-box h3 {
    margin-top: 10px;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 130px;
    margin: 10px;
}

#resume-button {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
    backdrop-filter: blur(3px);
    box-sizing: border-box;
}

.modal .modal-content {
    overflow: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    max-height: 90vh;
    width: 90%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
}

.show-modal {
    display: block;
}

.close-modal-btn {
    position: absolute;
    font-size: 1.1em;
    color: rgb(107, 60, 168);
    font-weight: 600;
    left: 20px;
    top: 20px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 0px;
}

footer {
    text-align: center;
    padding: 30px;
    color: #222;
}

.photo-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo-row img {
    width: 200px;
    border-radius: 20px;
    margin: 20px 5px;
}

.list-header {
    font-weight: 500;
}

/* ANIMATIONS */

.fade-in {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scale-in {
    animation: scaleIn 1s forwards;
    animation-timing-function: ease-in;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.hover-grow:hover {
    animation: hoverGrow 0.15s forwards;
}

@keyframes hoverGrow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
